{% extends "base.html" %}
{% block title %}REVIEWS{% endblock %}
{% load static %}

{%block scriptshead%}
<script src = "https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<script type="text/javascript" src="{% static '/js/script_bienvenida_head.js'%}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{%endblock%}

{% block content %}

        <!-- Contenedor Medio -->
        <!-- Faltan migrar mas elementos a template base.html-->

        <div>
            <div class="row">
                <div class="col-sm-12"">
                    <!-- Titulo recomendations -->
                    <h6 class="page-titles">REVIEWS</h6>
                </div>
                <hr>
            </div>
            <div class="row">
                <div id="div_izq" style="text-align: center;">
                    <h6 class="centro" style="text-decoration: underline;">ELIJA LA UBICACIÓN</h6>
                    <br><br>
                    <div style="align-items: center;text-align: center;">
                        <form method="GET" id="locationForm">
                            {% csrf_token %}
                            <label for="state">Seleccione Estado:</label>
                            <select id="state" name="state">
                                <option value="">--Seleccione Estado--</option>
                                {% for state in states %}
                                    <option value="{{ state.name }}" {% if state.name == request.GET.state %}selected{% endif %}>{{ state.name }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <label for="city">Seleccione Ciudad:</label>
                            <select id="city" name="city">
                                <option value="">--Seleccione Ciudad--</option>
                            </select>
                            <br><br>
                            <div id="button-container" style="text-align: center;">
                                <button type="button" id="submitButton" class="custom-btn btn-5 btn btn-info active responsive-width" style="border-color: black; font-size: 1.4vw">Enviar Pedido</button>
                            </div>
                        </form>
                        <br>  
                        <div class="wrapper_div">
                            <div id="watch_logs" class="in_wrapper_div"></div>
                        </div>
                    </div>
                </div>
                <div id="div_der" >
                    <div style="justify-content: center; align-items: center; margin-bottom: 30px;">
                        <div class="map-container"id="map-container"></div>
                    </div>
                </div> 
            </div>
        </div>
        <script>
            document.getElementById("city").addEventListener("change", function() {
            document.getElementById("watch_logs").innerHTML = "";
            });
            document.getElementById("submitButton").addEventListener("click", function() {
            document.getElementById("watch_logs").innerHTML = "";
            });

            const stateSelect = document.getElementById('state');
            const citySelect = document.getElementById('city');
            const submitButton = document.getElementById('submitButton');
        
            function updateCityOptions() {
                const selectedState = stateSelect.value;
                fetch(`/reviews/get_cities/?state=${selectedState}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        citySelect.innerHTML = '<option value="">--Select City--</option>';
                        data.forEach(city => {
                            const option = document.createElement('option');
                            option.value = city;
                            option.textContent = city;
                            citySelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching cities:', error));
            }
        
            stateSelect.addEventListener('change', updateCityOptions);
            updateCityOptions();

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            submitButton.addEventListener('click', function() {
                const selectedState = stateSelect.value;
                const selectedCity = citySelect.value;
            
                console.log('Selected State:', selectedState);
                console.log('Selected City:', selectedCity);
            
                if (!selectedCity) {
                    alert("Por favor seleccione una ciudad antes de hacer el pedido!");
                    return false;
                }
                
                const watchLogs = document.getElementById('watch_logs');
                
                fetch('save_location/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({ "state": selectedState , "city": selectedCity})
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (typeof data === 'string') {
                        watchLogs.innerHTML += `<pre>${data.replace(/[:]/g, ': ').replace(/["{}]/g, '').replace(/,/g, '\n\n')}</pre>`;
                        } else {
                            watchLogs.innerHTML += `<pre>${JSON.stringify(data).replace(/[:]/g, ': ').replace(/["{}]/g, '').replace(/,/g, '\n\n')}</pre>`;
                        }               });
                renderGoogleMap(selectedCity, selectedState);
            });    
            // Function to render Google Map with the selected city and state
            function renderGoogleMap(city, state) {
                // Fetch the JSON file containing the API key
                const apiKeyUrl = "{% static 'gmap_api_key.json' %}";
        
                fetch(apiKeyUrl)
                    .then(response => response.json())
                    .then(data => {
                        const apiKey = data.MAP_API_KEY;
        
                        // Render the Google Maps iframe using the extracted API key
                        const mapContainer = document.getElementById('map-container');
                        mapContainer.innerHTML = `
                            <iframe
                                width="600"
                                height="450"
                                frameborder="0"
                                style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=${apiKey}&q=${state},${city}"
                                allowfullscreen
                            ></iframe>
                        `;
                    })
                .catch(error => console.error('Error fetching API key:', error));
            }
            renderGoogleMap("", "United States");
        </script>
        

        <!-- Contenedor Bajo -->

        <div class="bottomcontainer">
            <div class="row">
                <div class="col-3 d-none d-sm-block text-center">
                    <img id="flip-img" src="/static/imagenes/Customer-Satisfaction-Surveys.png"
                        class="img-fluid" width="100%" style="margin-left: 6%; margin-bottom:6%"
                        alt="Responsive image">
                </div>
                <div class="col-sm-6 d-none d-sm-block text-center">
                    <img id="img_prueba" src="/static/imagenes/Wink-Emoji.png"
                    class="img-fluid" width="55%" style="margin-top: 6%;"
                    alt="Responsive image">
                </div>
                <div class="col-sm-3">
                    <div style="justify-content: center; margin-left:5% ;margin-right:5%">
                        <h6 class="bajo2">Mas Información</h6>
                        <div class="justify-content-center border border-dark rounded"
                            style="background-color: rgb(248, 251, 251);">
                            <p style="margin-bottom: 2%;"></p>
                            <a class="enlace" href="{% url 'github' %}">
                                <p id="Tooltip-Arriba" class="bajo3" title="Vaya al Repo">
                                    Repositorio Github</p></a>
                            <a class="enlace" href="{% url 'etl' %}">
                                <p id="Tooltip-Izquierda1" class="bajo3 border-top" title="Estadísticas">
                                    ETL</p></a>
                            <a class="enlace" href="{% url 'dashboard' %}">
                                <p id="Tooltip-Izquierda2" class="bajo3 border-top" title="Rendimiento">
                                    Dashboard</p></a>
                            <a class="enlace" href="{% url 'seguridad' %}">
                                <p id="Tooltip-Abajo" class="bajo3 border-top" title="Indice de Criminalidad">
                                    Seguridad</p></a></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{%block scriptsfoot%}
{%endblock%}
